<div class="modal-header d-flex justify-content-center">
	<h4 class="modal-title" id="modal-title">Atenção!</h4>
</div>
<div class="modal-body">
	<p>
		<strong>Tem certeza que deseja excluir o item <span class="text-primary">{{item.texto}}</span> ?</strong>
	</p>
</div>
<div class="modal-footer d-flex justify-content-center">
	<button type="button" class="btn btn-success rounded-pill" (click)="modal.dismiss('Cancel click')">Não</button>
	<button type="button" class="btn btn-danger rounded-pill" (click)="modal.close('Ok click')">Sim</button>
</div>