/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

html,
body {
	height: 100% !important;
	width: 100% !important;
	background-color: #caf0f838;
	font-family: 'Anonymous Pro', monospace;
}

* {
	margin: 0;
	padding: 0;
	color: #03045e;
}

a {
	text-decoration: none;
	color: #2f3435;
}

.btn-primary, .btn-success {
	background-color: #0077b6 !important;
	border-color: #0077b6 !important;
}
